<h1>Sign in</h1>

<% if flash[:error].present? %>
    <p class="flash_login_error"><%= flash[:error] %></p>
<% end %>

<div class="mb-3"> 
<%= form_for login_path do %>

    <%= label_tag :email, nil, :class => 'form-label' %>
    <%= email_field_tag :email, nil, :class => 'form-control' %>

    <%= label_tag :password, nil, :class => 'form-label' %>
    <%= password_field_tag :password, nil, :class => 'form-control' %>
    <br>
    <%= submit_tag "Sign in", :class => "btn btn-primary" %>

<% end %>
</div></div>