
<div class='add_edit_form'>
    <%= form_for @astronomical_item do |f| %>

        <%= f.label :name, :class => 'form-label' %>
        <%= f.text_field :name, placeholder: "Object's Name", :required => true, :class => 'form-control' %>

        <%= f.label :category, :class => 'form-label' %>
        <%= f.text_field :category, placeholder: "Main Sequence Star, Gas Giant, etc", :required => true, :class => 'form-control' %>

        <%= f.label :summary, :class => 'form-label' %>
        <%= f.text_area :summary, placeholder: "Brief description of the object", :required => true, :class => 'form-control' %>

        <%= f.label :image, :class => 'form-label' %>
        <%= f.url_field :image, placeholder: "Image URL", :required => true, :class => 'form-control' %>
        <br>
        <%= f.submit :class => 'btn btn-primary' %>

    <% end %>
</div>
