

<h1><u><%= @astronomical_item.name %> - <%= @astronomical_item.category %></u></h1>

<p class="summary"><%= @astronomical_item.summary %></p>

<%= cl_image_tag @astronomical_item.image, :class => "feature" if @astronomical_item.image.present? %>
<div class="author_comment_bookmark">
<br>
<p>Added by <%= @item_author.name %></p>

<% if @current_user == @item_author %>
<div class="edit_delete">
    <%= link_to "Edit Entry", edit_astronomical_item_path(@astronomical_item.id), :class => "link-primary" %> |
    <%= link_to "Delete Entry", @astronomical_item, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "link-primary" %>
</div>
<% end %>
<br>

<div class="bookmark_button">
   <%= button_to bookmark_text, bookmarks_path, params: { astronomical_item_id: @astronomical_item.id  }, :class => "btn btn-primary btn-sm", id: 'bookmark_button', remote: true %>
</div>
<br>
<p> 

<strong>Comments:</strong>
<%= render :partial => "comments/form", params: { astronomical_item_id: @astronomical_item.id  } %>
<br>
<%= render @astronomical_item.comments.order(created_at: :desc) %>
</p>
</div>

