

<h1><u><%= @astronomical_item.name %> - <%= @astronomical_item.category %></u></h1>

<p class="summary"><%= @astronomical_item.summary %></p>

<%= image_tag @astronomical_item.image, :class => "feature" if @astronomical_item.image.present? %>

<p>Added by <%= @item_author.name %></p>

<% if @current_user == @item_author %>
<div class="edit_delete">
    <%= link_to "Edit Entry", edit_astronomical_item_path(@astronomical_item.id), :class => "link-primary" %>
    <%= link_to "Delete Entry", @astronomical_item, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "link-primary" %>
</div>
<% end %>
<br>
<div class="bookmark_button">
<% if (@current_user.bookmarks.find_by astronomical_item_id: @astronomical_item.id) == nil %>
   <%= button_to "Bookmark Item", bookmarks_path, params: { astronomical_item_id: @astronomical_item.id  }, :class => "btn btn-primary btn-sm" %>
<% else %>
    <%= button_to "Remove Bookmark", bookmarks_path, params: { astronomical_item_id: @astronomical_item.id  }, :class => "btn btn-dark btn-sm" %>
<% end %>
</div>
<br>
<p>
<strong>Comments:</strong>
<%= render :partial => "comments/form", params: { astronomical_item_id: @astronomical_item.id  } %>
<br>
<%= render @astronomical_item.comments.order(created_at: :desc) %>
</p>