<!DOCTYPE html>
<html>
  <head>
    <title>Astronomy Catalouge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">

      
        <nav>
          <ol class="nav justify-content-center">
              <li class="nav-item">
                <%= link_to 'About', root_path, :class => "nav-link active" %>
              </li>
            <% if @current_user.present? %>
              <li class="nav-item">
                <%= link_to "Add to Database", new_astronomical_item_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "All Objects", astronomical_items_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Objects", astronomycatalogue_your_catalogue_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Bookmarks", bookmarks_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out #{@current_user.name}", login_path, :method => :delete, :class => "nav-link active" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign in", login_path, :class => "nav-link active"  %>
              </li>
            <% end %> 
            </ol> 
        </nav>
      
      <%= yield %>

    </div>
  </body>
</html>